{% extends 'base.html' %}
{% load static %}

<!-- 홈페이지 타이틀 -->
{% block title %}
내가 쓴 글
{% endblock title %}


<!-- 개별적인 css/link태그 추가 -->
{% block css %}
<link rel="stylesheet" href="{% static 'posts/css/my_post_list.css' %}">
{% endblock css %}


{% block header %}
<div class="header__wrapper">
    <div class="header__leftbox">
        <img class="left_arrow" src="{% static 'core/img/left_arrow.png' %}" alt="left_arrow icon">
    </div>
    <div class="header__midbox">
        <span class="header__title">내가 쓴 글</span>
    </div>
    <div class="header__rightbox">
    </div>
</div>
{% endblock header %}


{% block content %}
{% for post in user.posts.all %}
<div class="bakery_review_detail">
    <div class="bakery_review_detail_topbox">
        <div class="bakery_review_id_box">
            <div class="bakery_review_id">{{post.title}}</div>
            <div class="bakery_review_time">{{post.date}}</div>
        </div>
        <img class="delete_trash_icon" src="{% static 'bakeries/img/trash.png' %}" alt="쓰레기통 아이콘">
    </div>
    <div class="bakery_review_comment"></span>{{post.body}}</div>
</div>
{% endfor %}
{% endblock content %}