{% extends 'base.html' %}
{% load static %}

<!-- 홈페이지 타이틀 -->
{% block title %}
게시글
{% endblock title %}


<!-- 개별적인 css/link태그 추가 -->
{% block css %}
<link rel="stylesheet" href="{% static 'posts/css/post_detail.css' %}">
{% endblock css %}


{% block header %}
<div class="header__wrapper">
    <div class="header__leftbox">
        <img class="left_arrow" src="{% static 'core/img/left_arrow.png' %}" alt="left_arrow icon">
    </div>
    <div class="header__midbox">
        <span class="header__title">빵 커뮤니티</span>
    </div>
    <div class="header__rightbox">
        <!-- <img class="post_icon" src="{% static  'posts/img/menu.png' %}"> -->
    </div>
</div>
{% endblock header %}


{% block content %}
<div class="post_detail_allbox">
    <!-- 게시물 정보 및 유저 정보 박스 -->
    <div class="post_user_information">
        <div style="background-image:url({{post_detail.user.avatar.url}})" class="post_detail_profile_img"></div>
        <span class="post_user_information_smallbox">
            <span class="post_user_nickname">{{post_detail.user.nickname}}</span>
            <span class="post_time_pageview">
                <span class="post_detail_time">{{post_detail.created_date|date:"Y.m.d f"}}</span>
                <span class="post_detail_pageview">조회 {{post_detail.views}}</span>
            </span>
        </span>
    </div>

    <!-- 게시물 내용 박스 -->
    <div class="post_detail_contents_box">
        <div class="post_detail_title_scrap">
            <span class="post_detail_title">{{post_detail.title}}</span>
            <span class="post_detail_scrap">
                <img src="{% static 'posts/img/star.png' %}">
                <span class="post_detail_scrap_text">스크랩</span>
            </span>
        </div>
        <div class="post_detail_contents">{{post_detail.body}}</div>
        <div classs="post_detail_photo">
            {% if post_detail.photo %}
            <img src="{{post_detail.photo.url}}" style="width:280px" alt="detail_img">
            {% endif %}
        </div>
        <!-- 수정삭제 -->
        <div class="post_detail_ud_box">
            {% if comment.author == user or request.user.is_staff %}
            <a href="{% url 'posts:update' post_detail.id %}">
                <input class="post_detail_update_delete" type="button" value="수정">
            </a>
            <a href="{% url 'posts:delete' post_detail.id %}">
                <input class="post_detail_update_delete" type="button" value="삭제">
            </a>
            {% endif %}
        </div>


        <div>
            <!-- 댓글 상단 박스 -->
            <div class="post_detail_comment_top_box">
                <span class="post_detail_comment_top">댓글</span>
                <span class="post_detail_comment_count">{{post.comments_count}}</span>
                <span class="post_detail_add_comment">
                    {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'posts:add_comment_to_post' post_detail.id %}">댓글 작성하기</a>
                    {% else %}
                    <p>로그인 후에 리뷰작성이 가능합니다.</p>
                    {% endif %}
                </span>
            </div>

            <!-- 댓글 박스 -->
            {% for comment in post_detail.comments.all %}
            <div class="post_detail_comment_box">
                <div class="post_detail_comment_smallbox">
                    <span style="background-image:url({{post_detail.user.avatar.url}})"
                        class="post_detail_profile_img"></span>
                    <span class="post_detail_comment_information">
                        <div class="post_detail_comment_nickname_time">
                            <span class="post_detail_comment_nickname">{{comment.user.nickname}}</span>
                            <span class="post_detail_comment_time">{{comment.created_date|date:"Y.m.d f"}}</span>
                            {% if comment.author == user or request.user.is_staff %}
                            <a class="post_detail_comment_delete"
                                href="{% url 'posts:comment_delete' post_detail.id comment.id %}"><img
                                    src="{% static 'posts/img/trash.png' %}"></a>
                            {% endif %}
                        </div>
                        <div class="post_detail_comment_contents">{{comment.body}}</div>
                    </span>
                </div>
                <div class="post_detail_leave_a_comment">답글 쓰기</div>
            </div>
            {% empty %}
            <p> </p>
            {% endfor %}
        </div>
    </div>


</div>
{% endblock content %}