{% extends 'base.html' %}
{% load static %}

<!-- 홈페이지 타이틀 -->
{% block title %}
게시글
{% endblock title %}


<!-- 개별적인 css/link태그 추가 -->
{% block css %}
<link rel="stylesheet" href="{% static 'posts/css/post_detail.css' %}">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
{% endblock css %}


{% block header %}
<div class="header__wrapper">
    <div class="header__leftbox">
        <a href="{% url 'posts:list' %}"><img class="left_arrow" src="{% static 'core/img/left_arrow.png' %}"
                alt="left_arrow icon"></a>
    </div>
    <div class="header__midbox">
        <span class="header__title">빵 커뮤니티</span>
    </div>
    <div class="header__rightbox">
        <!-- <img class="post_icon" src="{% static  'posts/img/menu.png' %}"> -->
    </div>
</div>
{% endblock header %}


{% block content %}
<div class="post_detail_allbox">
    <!-- 게시물 정보 및 유저 정보 박스 -->
    <div class="post_user_information">
        <div style="background-image:url({{post_detail.user.avatar.url}})" class="post_detail_profile_img"></div>
        <span class="post_user_information_smallbox">
            <span class="post_user_nickname">{{post_detail.user.nickname}}</span>
            <span class="post_time_pageview">
                <span class="post_detail_time">{{post_detail.created_date|date:"Y.m.d f"}}</span>
                <span class="post_detail_pageview">조회 {{post_detail.views}}</span>
                <span class="views_count">{{post_detail.click}}</span>
            </span>
        </span>
    </div>

    <!-- 게시물 내용 박스 -->
    <div class="post_detail_contents_box">
        <div class="post_detail_title_scrap">
            <span class="post_detail_title">{{post_detail.title}}</span>
            {% if is_scraped %}
            <span class="post_detail_scrap jsScrap border-color-gold" onclick="clickScrap()">
                <img class="jsScrapImg" src="{% static 'posts/img/star.png' %}">
                <span class="post_detail_scrap_text jsScraptext text-color-gold">스크랩</span>
            </span>
            {% else %}
            <span class="post_detail_scrap jsScrap" onclick="clickScrap()">
                <img class="jsScrapImg" src="{% static 'posts/img/white_star.png' %}">
                <span class="post_detail_scrap_text jsScraptext">스크랩</span>
            </span>
            {% endif %}
        </div>
        <div class="post_detail_contents">{{post_detail.body}}</div>
        <div class="post_detail_photo">
            {% if post_detail.photo %}
            <img src="{{post_detail.photo.url}}" alt="detail_img">
            {% endif %}
        </div>
        <!-- 수정삭제 -->
        <div class="post_detail_ud_box">
            {% if post_detail.user == request.user %}
            <a href="{% url 'posts:update' post_detail.id %}">
                <input class="post_detail_update_delete" type="button" style="border-radius: 3px;" value="수정">
            </a>
            <a href="{% url 'posts:delete' post_detail.id %}">
                <input class="post_detail_update_delete" type="button" style="border-radius: 3px;" value="삭제">
            </a>
            {% endif %}
        </div>


        <div>
            <!-- 댓글 상단 박스 -->
            <div class="post_detail_comment_top_box">
                <span class="post_detail_comment_top">댓글</span>
                <span class="post_detail_comment_count">{{post.comments_count}}</span>
            </div>

            {% if user.is_authenticated %}
            <form method="POST" class="post-form" enctype="multipart/form-data">

                {% csrf_token %}
                <span class="post_detail_add_comment">{{ form.body }}</span>
                <input class="post_comment_submit" type="submit" value="등록" style="border-radius: 3px;">


            </form>
            {% else %}
            <p class="first_login">로그인 후에 댓글작성이 가능합니다.</p>
            {% endif %}

            <!-- 댓글 박스 -->
            {% for comment in post_detail.comments.all %}
            <div class="post_detail_comment_box">
                <div class="post_detail_comment_smallbox">
                    <span style="background-image:url({{post_detail.user.avatar.url}})"
                        class="post_detail_profile_img"></span>
                    <span class="post_detail_comment_information">
                        <div class="post_detail_comment_nickname_time">
                            <span class="post_detail_comment_nickname">{{comment.user.nickname}}</span>
                            <span class="post_detail_comment_time">{{comment.created_date|date:"Y.m.d f"}}</span>
                            {% if comment.user == request.user %}
                            <a class="post_detail_comment_delete"
                                href="{% url 'posts:comment_delete' post_detail.id comment.id %}"><img
                                    src="{% static 'posts/img/trash.png' %}"></a>
                            {% endif %}
                        </div>
                        <div class="post_detail_comment_contents">{{comment.body}}</div>
                    </span>
                </div>
                <div class="post_detail_leave_a_comment">답글 쓰기</div>
            </div>
            {% empty %}
            <p> </p>
            {% endfor %}
        </div>


    </div>


</div>
{% endblock content %}

{% block script %}
<script>
    const csrf = "{{ csrf_token }}";
    const ajaxScrapUrl = "{% url 'posts:ajax_scrap' %}";
    const postPK = "{{ post_detail.pk }}"
</script>
<script src="{% static 'posts/js/scrap.js' %}"></script>
{% endblock script %}