.menu {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.menu > div {
  display: block;
  /* text-decoration-line: none; */
  /* color: black; */
  margin-right: 15px;
}

.menu > div:hover {
  cursor: pointer;
}

.menu__img {
  background-position: center;
  background-repeat: none;
  background-size: cover;
  opacity: 0.3;
}

.opacity_1 {
  opacity: 1;
}

.menu_1 {
  margin: 10px;
}

.menu_1__photo {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  border-radius: 50%;
}

.menu_1__name {
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}

.menu_2 {
  margin: 10px;
}

.menu_2__photo {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  border-radius: 50%;
}

.menu_2__name {
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}

.menu_3 {
  margin: 10px;
}

.menu_3__photo {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  border-radius: 50%;
}

.menu_3__name {
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}

.menu_4 {
  margin: 10px;
}

.menu_4__photo {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  border-radius: 50%;
}

.menu_4__name {
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}

hr {
  background: #f1f1f1;
}
.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 50px;
  padding: 0 15px;
}

.category div {
  font-size: 12px;
}

.category_area {
  display: flex;
  align-items: center;
  width: 50px;
  height: 20px;
}

.catecory_sort {
  display: flex;
  width: 150px;
  height: 20px;
}

.sort_like {
  width: 40px;
}

.sort_distance {
  width: 40px;
}

.sort_hr {
  height: 6px;
  border: none;
  margin-bottom: 0;
}

.list {
  border-top: 1px solid #e9e9e9;
}

.list > a {
  text-decoration-line: none;
}

.list_store {
  display: flex;
  justify-content: space-around;
  height: 80px;
  top: 128px;
  background: #fcfcfc;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
}

.store_rank {
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  padding: 15px 0 0 10px;
}

.store_detail {
  width: 85%;
  padding: 10px;
}

.top_name {
  width: 71px;
  height: 22px;
  font-size: 17px;
  color: black;
}

.top_collect {
  width: 45px;
  height: 18px;
  font-size: 12px;
  color: white;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  padding: 3px;
}

.detail_explain {
  font-size: 12px;
  color: #924600;
  line-height: 14px;
  padding-top: 5px;
}

.detail_address {
  font-size: 12px;
  color: #7c7c7c;
  line-height: 14px;
  padding-top: 5px;
}

.store_review {
  margin-top: 15px;
  color: black;
}

.review_score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score_star {
  display: flex;
  color: orange;
  width: 20px;
  height: 20px;
}

.score_number {
  display: flex;
  width: 45px;
  height: 24px;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

.review_number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review_count {
  width: 68px;
  height: 15px;
  font-size: 12px;
}
