{% extends 'base.html' %}
{% load static %}

<!-- 홈페이지 타이틀 -->
{% block title %}
빵집 지도
{% endblock title %}


<!-- 개별적인 css/link태그 추가 -->
{% block css %}
<link rel="stylesheet" href="{% static 'map/css/map.css' %}">
{% endblock css %}


{% block head_script %}
<!-- 기본 카카오맵 API -->
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=08a8e8a0fde8d36ad5c30df67d5d41f6&libraries=services,clusterer,drawing"></script>
<!-- 제이쿼리 -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
{% endblock head_script %}


{% block content %}
<div class="map_init_box jsMapInit">
    <div class="init_blank_top header_height"></div>
    <img class="map_init" src="{% static 'map/img/map_init.JPG' %}" alt="" onclick="startMap()">
    <div class="init_blank_bottom bottom_height"></div>
</div>
<div id="map"></div>
<div class="region_select_box set_none jsRegionSelectBox">
    <select class="jsRegionSelect" onchange="changeRegion()" name="" id="">
        <option value="진주시">진주시</option>
        <option value="김해시">김해시</option>
    </select>
</div>
{% endblock content %}


{% block script %}
<script src="{% static 'map/js/main_map.js' %}"></script>
{% endblock script %}