{% extends 'base.html' %}
{% load static %}

<!-- 홈페이지 타이틀 -->
<!-- 성심당에 실제 데이터가 들어가야됨 -->
{% block title %}
성심당
{% endblock title %}


<!-- 개별적인 css/link태그 추가 -->
{% block css %}
<link rel="stylesheet" href="{% static 'bakeries/css/bakery_detail.css' %}">
{% endblock css %}



{% block content %}
<div class="bakery_bread_image_box">
    <div class="bakery_bread_image"></div>
</div>

<div class="bakery_information_box">
    <div class="bakery_name_box">
        <div class="bakery_trademark">
            <div class="bakery_trademark_detail"></div>
        </div>
        <div class="bakery_name"></div>
        <div class="bakery_like"></div>
    </div>


    <div class="bakery_name"></div>
    <div class="bakery_name"></div>
</div>
{% endblock content %}