{% extends 'base.html' %}
{% load static %}

<!-- 홈페이지 타이틀 -->
{% block title %}
랭킹
{% endblock title %}


<!-- 개별적인 css/link태그 추가 -->
{% block css %}
<link rel="stylesheet" href="{% static 'bakeries/css/bakery_rank.css' %}">
{% endblock css %}


{% block header %}
<div class="header__wrapper">
    <div class="header__leftbox">
        <img class="left_arrow" src="{% static 'core/img/left_arrow.png' %}" alt="left_arrow icon">
    </div>
    <div class="header__midbox">
        <span class="header__title">랭킹</span>
    </div>
    <div class="header__rightbox">
    </div>
</div>
{% endblock header %}


{% block content %}
<div class="menu">
    <div class="menu_1">
        <div class="menu_1__photo"></div>
        <div class="menu_1__name"></div>
    </div>

    <div class="menu_2">
        <div class="menu_2__photo"></div>
        <div class="menu_2__name"></div>
    </div>

    <div class="menu_3">
        <div class="menu_3__photo"></div>
        <div class="menu_3__name"></div>
    </div>

    <div class="menu_4">
        <div class="menu_4__photo"></div>
        <div class="menu_4__name"></div>
    </div>
</div>
<hr>
<div class="list">
    <div class="list_store">
        <div class="store_rank">1</div>
        <div class="store_detail">
            <div class="detail_top">
                <span class="top_name">수복빵집</span>
                <span class="top_collect">찜 100+</span>
            </div>
            <div class="detail_explain">같은 단팥소스를 뿌려먹는 진주 명물 찐빵</div>
            <div class="detail_address">경남 진주시 촉석로 201번길 12-1</div>
        </div>
        <div class="store_review">
            <div class="review_score">
                <span class="score_star">★</span>
                <span class="score_number">4.5</span>
            </div>
            <div class="review_count">리뷰 138</div>
        </div>
    </div>
</div>
{% endblock content %}