{% extends 'base.html' %}
{% load static %}

<!-- 홈페이지 타이틀 -->
{% block title %}
빵집 모아보기
{% endblock title %}


<!-- 개별적인 css/link태그 추가 -->
{% block css %}
<link rel="stylesheet" href="{% static 'bakeries/css/bakery_like_list.css' %}">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
{% endblock css %}


{% block header %}
<div class="header__wrapper">
    <div class="header__leftbox">
    </div>
    <div class="header__midbox">
        <span class="header__title">찜한 가게</span>
    </div>
    <div class="header__rightbox">
    </div>
</div>
{% endblock header %}


{% block content %}

{% if user.like.all %}
<div class="list">
    {% for bakery in user.like.all %}
    <div class="list_store" id={{bakery.id}}>
        <div class="list__left">
            <div class="heart_box">
                <img onclick="clickLike(event)" class="like_list_heart jsLike"
                    src="{% static 'bakeries/img/heart.png' %}">
            </div>
            <a href="{% url 'bakeries:detail' bakery.id %}" class="store_detail">
                <div class="detail_top">
                    <span class="top_name">{{bakery.name}}</span>
                </div>
                <div class="detail_explain">{{bakery.short_sub_name}}</div>
                <div class="detail_address">{{bakery.address}}</div>
            </a>
        </div>
        <div class="store_review">
            <div class="review_score">
                <span class="score_star">★</span>
                <span class="score_number">{{bakery.total_rating}}</span>
            </div>
            <div class="review_count">리뷰 {{bakery.review_count}}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="no_exist">
    <span>찜한 가게가 없습니다!</span>
</div>
{% endif %}


{% endblock content %}
{% block script %}
<script>
    const csrf = "{{ csrf_token }}";
    const ajaxLikeUrl = "{% url 'bakeries:ajax_like' %}";
</script>
<script src="{% static 'bakeries/js/like_list.js' %}"></script>
{% endblock script %}