{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- meta 태그 모음 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- 타이틀 -->
    <title>Broad | {% block title %}{% endblock title %}</title>


    <!-- font 링크태그 모음 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">

    <!-- css 링크태그 모음 -->
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block css %}
    <!-- 페이지별 개별적으로 css를 추가하는 부분 -->
    {% endblock css %}
</head>

<body>
    <header class="header_height">
        {% block header %}
        <img class="logo_img" src="{% static 'core/img/logo.png' %}" alt="logo image">
        <input class="header__searchbar" type="search" placeholder="검색어를 입력하세요">
        {% endblock header %}
    </header>
    <div class="header_blank header_height"></div>
    <div class="content">
        {% block content %}
        <!-- 이 안에 들어가는 내용만 바뀌고, 나머지는 모든페이지에 적용됨 -->
        {% endblock content %}
    </div>
    <footer>

    </footer>
    <div class="bottom_blank bottom_height"></div>
    <div class="bottom_icons bottom_height">
        <div class="buttom_icons__icon_wrap">
            <img src="{% static 'core/img/home.png' %}" alt="home icon">
        </div>
        <div class="buttom_icons__icon_wrap">
            <img src="{% static 'core/img/community.png' %}" alt="community icon">
        </div>
        <div class="buttom_icons__icon_wrap">
            <img src="{% static 'core/img/rank.png' %}" alt="rank icon">
        </div>
        <div class="buttom_icons__icon_wrap">
            <img src="{% static 'core/img/like.png' %}" alt="heart icon">
        </div>
        <div class="buttom_icons__icon_wrap">
            <img src="{% static 'core/img/user.png' %}" alt="user icon">
        </div>
    </div>

    {% block script %}
    <!-- JS/JQuery 스크립트 추가하는 부분 -->
    {% endblock script %}
</body>

</html>