{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>BROAD | 로그인</title>
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/mobile_reset.css' %}">
</head>

<body>
    <div class="login__midbox">
        <img class="login_logo" src="{% static 'core/img/login_logo.png' %}" alt="logo img">
        <form method="post">
            {% csrf_token %}
            <!-- <input class="login_id_button" type="text" name="user_id" id="user_id" placeholder="아이디"> -->
            {{form.username}}
            {% if form.username.errors %}
            {% for error in form.username.errors  %}
            {{error}}
            {% endfor %}
            {% endif %}
            <!-- <input class="login_password_button" type="text" name="user_password" id="user_password" placeholder="비밀번호"> -->
            {{form.password}}
            {% if form.password.errors %}
            {% for error in form.password.errors  %}
            {{error}}
            {% endfor %}
            {% endif %}
            <div class="login_two_link_box">
                <a href="#"><span class="password_change">비밀번호 변경</span></a>
                <a href="{% url 'map:main_map' %}"><span class="guest_login">게스트 로그인</span></a>
            </div>
            <input class="login_button" type="submit" value="로그인">
        </form>
        <div class="login_or_line">
            <hr>
            <span>또는</span>
            <hr>
        </div>
        <a href="{% url 'users:kakao-login' %}" class="social_login_button">
            <div class="social_login_left">
                <img class="kakao_logo" src="{% static 'users/img/kakao_logo.png' %}" alt="kakao logo">
            </div>
            <div class="social_login_mid">카카오 계정 로그인</div>
            <div class="social_login_right"></div>
        </a>
        <div class="signup_box">
            <span>계정이 없으신가요?</span>
            <a href="{% url 'users:signup' %}"><span class="signup_link">회원가입</span></a>
        </div>
    </div>

    <script src="{% static 'core/js/enlarge.js' %}"></script>
</body>

</html>