{% extends 'base.html' %}
{% load static %}

<!-- 홈페이지 타이틀 -->
{% block title %}
마이페이지
{% endblock title %}


<!-- 개별적인 css/link태그 추가 -->
{% block css %}
<link rel="stylesheet" href="{% static 'users/css/my_profile.css' %}">
{% endblock css %}


{% block header %}
{{user.avatar}}
<div class="header__wrapper">
    <div class="header__leftbox">
        <img class="left_arrow" src="{% static 'core/img/left_arrow.png' %}" alt="left_arrow icon">
    </div>
    <div class="header__midbox">
        <span class="header__title">마이페이지</span>
    </div>
    <div class="header__rightbox">
    </div>
</div>
{% endblock header %}


{% block content %}
<div class="profile__top">
    <div class="myprofile">
        <div style="background-image: url({{user.avatar.url}});" class="profile__image"></div>
        <div class="profile__nickname">{{user.nickname}}</div>
    </div>
    <a class="profile__edit" href="{% url 'users:profile_update' %}"><span>프로필 수정</span></a>
</div>
<div class=line></div>
<div class="profile__middle">
    <div class="profile__review">작성한 리뷰</div>
    <div class="profile__post">
        <h1>게시판</h1>
        <h2>내가 쓴 글</h2>
        <h2>댓글 단 글</h2>
        <h2>찜한 게시글</h2>
    </div>
</div>
<div class="profile__bottom">
    <hr style="width:80%; color:gray">
    <div class="profile__logout">로그아웃</div>
</div>
{% endblock content %}