{% extends 'base.html' %}
{% load static %}

<!-- 홈페이지 타이틀 -->
{% block title %}
프로필 수정
{% endblock title %}


<!-- 개별적인 css/link태그 추가 -->
{% block css %}
<link rel="stylesheet" href="{% static 'users/css/profile_update.css' %}">
{% endblock css %}


{% block header %}
<div class="header__wrapper">
    <div class="header__leftbox">
        <img class="left_arrow" src="{% static 'core/img/left_arrow.png' %}" alt="left_arrow icon">
    </div>
    <div class="header__midbox">
        <span class="header__title">내 정보 수정</span>
    </div>
    <div class="header__rightbox">
    </div>
</div>
{% endblock header %}


{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="profile_update__top">
        <div style="background-image: url({{user.avatar.url}});" class="profile_update__image"></div>
        <img class="profile_update__imageupdate"
            src="https://www.vhv.rs/dpng/d/462-4623656_thumb-image-camera-icon-png-circle-transparent-png.png">
    </div>
    <div class="profile_update_midbox">
        <div class="profile_update_sectionbox">
            <label for="user_email" class="profile_update_label">이메일<strong>(변경 불가)</strong></label>
            <!-- <input class="profile_update_input" type="email" name="user_email" id="user_email"
                placeholder="@example.com"> -->
            <div class="profile_update_input">{{user.email}}</div>
        </div>
        <div class="profile_update_sectionbox">
            <label for="user_nickname" class="profile_update_label">닉네임<strong>(선택)</strong></label>
            <!-- <input class="profile_update_input" type="text" name=" user_nickname" id="user_nickname" placeholder="선택입력">
             -->
            {{form.nickname}}
            {% if form.nickname.errors %}
            {% for error in form.nickname.errors  %}
            {{error}}
            {% endfor %}
            {% endif %}
        </div>
        <div class="profile_update_sectionbox">
            <label for="user_password" class="profile_update_label">비밀번호</label>
            <!-- <input class="profile_update_input" type="password" name="user_password" id="user_password"
                placeholder="비밀번호(8~32자리)">
            <input class="profile_update_input" type="password" name="user_confirm_password" id="user_confirm_password"
                placeholder="비밀번호 재입력"> -->
            {{form.password}}
            {% if form.password.errors %}
            {% for error in form.password.errors  %}
            {{error}}
            {% endfor %}
            {% endif %}
            {{form.confirm_password}}
            {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors  %}
            {{error}}
            {% endfor %}
            {% endif %}
        </div>
        <input class="signup_button" type="submit" value="확인">
    </div>
</form>
{% endblock content %}

{% block bottom_icons %}
{% endblock bottom_icons %}
