{% extends 'base.html' %}
{% load static %}

<!-- 홈페이지 타이틀 -->
{% block title %}
회원가입
{% endblock title %}


<!-- 개별적인 css/link태그 추가 -->
{% block css %}
<link rel="stylesheet" href="{% static 'users/css/signup.css' %}">
{% endblock css %}


{% block header %}
<div class="header__wrapper">
    <div class="header__leftbox">
        <img onclick="history.go(-1);" class="left_arrow" src="{% static 'core/img/left_arrow.png' %}"
            alt="left_arrow icon">
    </div>
    <div class="header__midbox">
        <span class="header__title">회원가입</span>
    </div>
    <div class="header__rightbox">
    </div>
</div>
{% endblock header %}


{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="signup_midbox">
        <div class="signup_sectionbox">
            <label for="user_email" class="signup_label">브로드 계정</label>
            <!-- <input class="signup_input" type="email" name="user_email" id="user_email" placeholder="@example.com"> -->
            {{form.email}}
            {% if form.email.errors %}
            {% for error in form.email.errors  %}
            {{error}}
            {% endfor %}
            {% endif %}
        </div>
        <div class="signup_sectionbox">
            <label for="user_nickname" class="signup_label">닉네임<strong>(선택)</strong></label>
            <!-- <input class="signup_input" type="text" name="user_nickname" id="user_nickname" placeholder="선택입력"> -->
            {{form.nickname}}
            {% if form.nickname.errors %}
            {% for error in form.nickname.errors  %}
            {{error}}
            {% endfor %}
            {% endif %}
        </div>
        <div class="signup_sectionbox">
            <label for="user_password" class="signup_label">비밀번호</label>
            <!-- <input class="signup_input" type="password" name="user_password" id="user_password"
                placeholder="비밀번호(8~32자리)"> -->
            {{form.password}}
            {% if form.password.errors %}
            {% for error in form.password.errors  %}
            {{error}}
            {% endfor %}
            {% endif %}
            <!-- <input class="signup_input" type="password" name="user_confirm_password" id="user_confirm_password"
                placeholder="비밀번호 재입력"> -->
            {{form.confirm_password}}
            {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors  %}
            {{error}}
            {% endfor %}
            {% endif %}
        </div>
        <input class="signup_button" type="submit" value="회원가입">
    </div>
</form>
{% endblock content %}


{% block bottom_icons %}
{% endblock bottom_icons %}