body {
  height: 100vh;
  overflow: hidden;
}

header {
  z-index: 10;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.header_blank,
.bottom_blank,
footer {
  display: none;
}
